<!Doctype HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hearthstone Deck Building Tool built in Ruby on Rails">
    <meta name="author" content="Charles Powell">
    <title>HS Decks</title>
  </head>

  <body>
    <%= image_tag "biglogo.png", :class => 'img-responsive' %>
    <%= render partial: "navigation"%>


    <div class="container">
        <div class="page-header">
          <h1>Hearthstone Deck Builder</h1>
          <p class ="lead">Create and Share Decks</p>
        </div>

        <div class="row">

          <article class="col-md-8">

            <h1><a href="/sign_up">Sign Up!</a></h1>
            <h1><a href="/sign_in">Sign In!</a></h1>
          </article>


        </div>
    </div>

    <footer class="container">
      <div class="footer">
        <p>All Hearthstone content and images belong to &copy; Blizzard &copy; 2015 Charlie Powell</p>

      </div>
    </footer>

  </body>
</html>
