<ul>
  <% temp = 0 %>
  <% @cards.each do |card|%>
    <% if card.rarity != nil && card.collectible && card.cardType != 'Hero'%>
    <li>
      <% temp += 1 %>
      Name: <%= card.name %><br>

      <%= image_tag card.blizzid+".png" %>
    </li>
    <% end %>
  <% end %>
  <%= temp %>

</ul>
